body {
    font-family: "League Spartan", Arial, Helvetica, sans-serif, "Messy Memoir", "Gotham";
    background-color: #292626;
    margin: 0
}

div#parent {
    border: 2px solid red;
    width: 1755px;
    background-color: #E9E9E9;
}

div#parent section { /*temporary: so i can see the borders*/
    border: 1px solid black;
}

section.header {
    display: flex;
    justify-content: space-between;
    height: 995px;

    background-image: url("media/bcmag_chromatic_collab.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 1180px;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid black;
        width: 1180px;

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

}

section.main-content-area {
    div { /* so i can see the size; delete later */
        border: 1px solid blue;
    }

    .about-us {
        height: 1400px;

        background-image: url("media/bc_codirectors.jpg"), url("media/dog_buttercup.jpg");
        background-repeat: no-repeat;
        background-size: auto, 385px;
        background-position-x: 785px, 90px;
        background-position-y: 150px, 750px;
        /* LETS F*CKING GOOOOOOOOOO I CANT BELIEVE I FIGURED THAT OUT */
    }

    .spread {
        height: 1000px;

        background-image: url("media/issue2_hiring_spread.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 125px;

        img {
            display: block;
            margin-left: auto;
            margin-right: 125px;
            height: 300px;
        }
    }

    .issues {
        height: 1750px;

        background-image: url("media/issue1_spring2025_cover_insta.jpg"), url("media/issue1_spring2025_collage_ziploc.jpg");
        background-repeat: no-repeat;
        background-size: 830px, 545px;
        background-position-x: -210px, 1230px;
        background-position-y: 150px, 725px;

        nav {

            a { /*this is all temporary*/
                color: black;
                display: block;
                text-decoration: none;
                border: 2px solid black;
                padding: 10px;
                text-transform: uppercase;
                width: 500px;

                &:hover {
                    color: white;
                    background-color: black;
                }
            }
        }
    }
}

section.footer {
    height: 100px;

    img {
        /*was gonna make it black and white but im getting tired*/
    }
}

/* make and move to heading-styles.css if necessary*/
p {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5%;
}

h1 {
    color: #cc0000;
    font-size: 24px;
}