body {
    font-family: "Messy_Memoir" /*im fixing this in a sec*/
    /*I did not check if these fonts were copyrighted.
    I will check later if I continue to use this code with these fonts*/
    background-color: #292626;
    margin: 0
}

div#parent {
    border: 2px solid red;
    width: 1775px;
    height: 995px;
    background-color: #E9E9E9;
}