body {
    font-family: "Gotham", "Messy Memoir", "League Spartan", Arial, Helvetica, sans-serif;
    background-color: #292626;
    margin: 0
}

div#parent {
    border: 2px solid red;
    width: 1775px;
    height: 995px;
    background-color: #E9E9E9;
}